<!--Updates and moves a LOST item to the FOUND page-->
<ul>
  {{#each lost}}{{#unless found}}
      {{> lost/lost lost=true}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each lost}}{{#if found}}
      {{> lost/lost lost=false}}
    {{/if}}
  {{/each}}
</ul>


<ul id="lostTable">
  {{#each lost}}
  <li>

    <div class="card">
      <h5 class="card-header">
        <p>
          <span class="list-group-item">{{this.item}}</p>
        </span>
      </h5>
      <div class="card-body">
        <h5 class="card-title">
          <p>
            <span class="list-group-item">Lost When: {{this.createdAt}}</span>
          </p>
        </h5>
        <p class="card-text">
          <p>
            <span class="list-group-item">Last had at: {{this.lost_where}}</p>
          </span>
        </p>
        <p class="card-text">
          <p>
            <span class="list-group-item">Description: {{this.description}}</p>
          </span>
        </p>

        <button data-id="{{this.id}}" class="btn btn-primary foundBtn">Found!</button>

      </div>
    </div>

  </li>
  {{/each}}
</ul>


