<ul id="lostTable">
  {{#each posts}} {{#unless found}} {{> lost/lost found=0}}
  <li>
    <h3>Lost Item ID:
      <span>{{this.id}}</span>
    </h3>
    <div class="card">
      <h5 class="card-header">
        <p>
          <span class="list-group-item">{{this.item}}</p>
        </span>
      </h5>

      <div class="card-body">
        <h5 class="card-title">
          <p>Lost When:
            <span class="list-group-item"> {{this.createdAt}}</span>
          </p>
        </h5>

        <p class="card-text">
          <p>
            <img id="match-img" src="{{this.image}}" alt="" width="50%" ;>
          </p>
        </p>
        <p class="card-text">
          <p>Description:
            <span class="list-group-item"> {{this.description}}</p>
          </span>
        </p>

        <button data-id="{{this.id}}" class="btn btn-primary foundBtn">Found!</button>

      </div>
    </div>

  </li>
  {{/unless}} {{/each}}
</ul>