<ul id="foundTable">

  {{#each posts}} {{#if found}} {{> found/found found=1}}
  <li>
    <h3>Found Item ID:
      <span>{{this.id}}</span>
    </h3>
    <div class="card">
      <h5 class="card-header">
        <p>
          <span class="list-group-item">{{this.item}}</p>
        </span>
      </h5>
      <div class="card-body">
        <p class="card-text">
          <p>
            <img id="match-img" src="{{this.image}}" alt="" width="50%" ;>
          </p>
        </p>
        <p class="card-text">
          <p>Found on:
            <span class="list-group-item"> {{this.updatedAt}}</p>
          </span>
        </p>

        <p class="card-text">
          <p>Returned to:
            <span class="list-group-item"> {{this.name}}</p>
          </span>
        </p>

      </div>
    </div>

  </li>
  {{/if}} {{/each}}
</ul>